@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply w-[min(90%,1680px)] mx-auto py-10;
  }
  .product-page-container {
    @apply w-[min(90%,1500px)] mx-auto py-10;
  }
  .mobile-nav-icon {
    @apply text-4xl cursor-pointer text-white;
  }

  .show-lg {
    @apply hidden lg:block;
  }

  .show-sm {
    @apply lg:hidden;
  }

  .semi-bold-3xl-text {
    @apply text-3xl font-semibold py-3;
  }
  .semi-bold-2xl-text {
    @apply text-2xl font-semibold py-3;
  }
}

#category-link a.active {
  color: #2d5016;
  border-bottom: 2px solid #2d5016;
  border-radius: 0;
}

#category-link a.active:hover {
  color: white;
  border-bottom: 2px solid #2d5016;
  border-radius: 0;
}

.custom-clamp{
  max-height: 10rem;
  overflow: hidden;
  position: relative;
}

.custom-clamp::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5rem;
  background: linear-gradient(to bottom,rgba(255,255,255,0),white 100%);
}

.progress-custom-5::-webkit-progress-value{
  background-color: #2d5016;
}
.progress-custom-4::-webkit-progress-value{
  background-color: yellowgreen;
}
.progress-custom-3::-webkit-progress-value{
  background-color: orangered;
}
.progress-custom-2::-webkit-progress-value{
  background-color: orange;
}
.progress-custom-1::-webkit-progress-value{
  background-color: red
}
